body{
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;

}
.uma
{
    color: brown;
}
.devi
{
    color: blue;
}
.esther{
    color: green;
}
.tulasi{
    color: rebeccapurple;
}
.vin{
    color: chocolate;
}
.aaru{
    color: cornflowerblue;
}
.siri{
    color: crimson;
}
.car{
    color: darkgoldenrod;
}